#formationsexperiences {
  .grid__row {
    margin: 1rem;
    .grid__item {
      margin-bottom: 1rem;

      .grid__date {
        font-weight: 500;
      }
      .grid__title {
        margin-bottom: 0;
      }
      .grid__location {
        font-weight: 300;
        color: var(--date-color);
      }
      .grid__mission {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.dark {
  #formationsexperiences {
    .grid__row {
      .grid__item {
        .grid__location {
          color: var(--dark-date-color);
        }
      }
    }
  }
}
